.header__lang-link {
  font-family: "Inter", "Arial", sans-serif;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  opacity: 1;
}
.header__links{
  margin-top: 18px;
  min-width: 77px;
}
.header__lang-link:first-of-type {
  margin-right: 18px;
}
.header__lang-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .header__links {
    margin-top: 15.25px;
}
.header__lang-link:first-of-type {
  margin-right: 16px;
}
}
@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
  .header__links{
    margin-top: 7px;
    min-width: 77px;
    text-align: right;
}
.header__lang-link:first-of-type {
  margin-right: 14px;
}
}