.header {
    width: calc(100% - 48px * 2);
    background-color: #2a2c2f;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .header__links{
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
@media screen and (max-width: 1023px) {
    .header {
      width: calc(100% - 24px * 2);
    }
  }
@media screen and (max-width: 767px) {
    .header {
      width: calc(100% - 16px * 2);
      padding-top: 16px;
    }
  }
@media screen and (max-width: 320px) {
      .header {
        width: calc(100% - 16px * 2);
        padding-top: 16px;
      }
      .header__links{
        display: flex;
        align-items: center;
        margin-top: 8px;
    }
  }