.lead__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
  margin: 56px auto 32px auto;
  max-width: 720px;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 49px;
    margin-bottom: 28px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: calc(100% - 16px * 2);
    font-size: 40px;
    line-height: 44px;
    margin: 49px 16px 12px 16px;
  }
}

