.lead__subtitle {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto 64px auto;
  max-width: 640px;
}
@media screen and (max-width: 1024px) {
  .lead__subtitle {
    max-width: 640px;
    max-height: 72px;
    
  }
}


@media screen and (max-width: 768px) {
  .lead__subtitle {
    margin-top: 3px;
    margin-bottom: 56px;
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    max-height: 72px;
  }
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 262px;
    text-align: center;
    margin-bottom: 40px;
  }
}