.place {
    width: 100%;
    margin:0 auto 80px;
    grid-template-columns: 460px 1fr;
    grid-template-areas: 
     "place-title place-website"
     "place-image place-paragraph";  
     display: grid;
    column-gap: 40px;
    row-gap: 48px;               
  }
  .place:last-of-type {
    margin-bottom: 0;  
}
.place__title__br{
  display: none;
}
  @media screen and (max-width: 1280px) {
    .place {
      grid-template-columns: 460px 1fr;
      column-gap: 40px;
    }
  }
  @media screen and (max-width: 1024px) {
    .place {
      grid-template-columns: 440px 1fr;
      column-gap: 32px;
      row-gap: 48px;
    }
  }
  @media screen and (max-width: 768px) {
    .place {
     width: 100%;
     row-gap: 44px;
     margin-bottom: 73px;
    }
    .place__title__br{
      display: block;
    }
  }
  @media screen and (max-width: 320px) {
    .intro__title__br{
      display: block;
    }
    .place {
      grid-template-columns: 1fr;
      grid-template-areas: 
      "place-title"
      "place-website"
      "place-image"
      "place-paragrpah";
      row-gap: 32px;
      margin-bottom: 49px;
      width: 320px;
      row-gap: 31px;
    }
  }
